# BucketAccess requests credentials to access a bucket.
# When created, the COSI driver will create an S3 access key and grant
# permissions to the bucket. Credentials are stored in the specified secret.
apiVersion: objectstorage.k8s.io/v1alpha2
kind: BucketAccess
metadata:
  name: my-bucket-access
  namespace: default
spec:
  # Reference to the BucketAccessClass that defines access parameters
  bucketAccessClassName: garage-readwrite
  # Protocol for access (must match BucketClaim)
  protocol: S3
  # List of BucketClaims to grant access to
  bucketClaims:
    - bucketClaimName: my-bucket
      accessMode: ReadWrite
      # Name of the Secret where credentials will be stored
      # The secret will contain: accessKeyID, accessSecretKey, endpoint, region
      accessSecretName: my-bucket-creds
